[Desktop Entry]
Type=Application
Name=Treeble
Comment=Folder-first music player for Linux
Exec=treeble
Icon=treeble
Categories=AudioVideo;Player;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/wav;audio/mp4;
Terminal=false
StartupNotify=true
StartupWMClass=treeble
Actions=PlayPause;

[Desktop Action PlayPause]
Name=Play / Pause
Exec=treeble --toggle-pause
